@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.journal-entries {
  &__wrapper {
    max-width: $wrapper-max-width;
    margin: 0rem 1rem 0rem 1rem;
  }
  &__edit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: rem;
    color: $dark-blue;
  }

  &__read {
    border: none;
    background: none;
    padding: none;
    font-size: 1rem;
    color: $dark-grey;
    margin-top: 0.3rem;
    margin-left: -0.5rem;
  }

  &__card {
    padding: 0.5rem;
    background-color: $columbia-blue;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0.5rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__edit-photo {
    width: 20px;
    height: 20px;
  }

  &__delete-photo {
    width: 20px;
    height: 20px;
  }

  &__heading {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: $dark-blue;
  }

  &__content {
    color: $dark-blue;
  }
}
