@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.journal-entries {
  &__wrapper {
    max-width: $wrapper-max-width;
    margin: 0rem 1rem 0rem 1rem;
  }
  &__edit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    color: $black;
    font-size: 1.2rem;
  }

  &__read {
    border: none;
    background: none;
    padding: none;
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-left: -0.5rem;

    &--even {
      color: $dark-purple;
    }

    &--odd {
      color: $air-blue;
    }
  }

  &__card {
    padding: 0.5rem;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0.5rem;

    &--even {
      background-color: $lavender;
    }

    &--odd {
      background-color: $columbia-blue;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__edit-photo {
    width: 20px;
    height: 20px;
  }

  &__delete-photo {
    width: 20px;
    height: 20px;
  }

  &__heading {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 400;
    color: $black;
    text-align: center;
  }

  &__paragraph {
    color: $dark-grey;
    margin-left: 1rem;
  }

  &__subheading {
    font-weight: 500;
    margin-left: 1.5rem;
  }

  &__content {
    color: $black;
  }
}
