@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.journal {
  &__wrapper {
    min-height: calc(100vh - 58.3984px);
  }

  &__arrow-left {
    opacity: 55%;
    width: 1.65rem;
    margin-left: -1rem;

    @include tablet {
      margin-left: -0.8rem;
      width: 2.1rem;
    }

    @include desktop {
      margin-left: -0.5rem;
      width: 2.4rem;
    }
  }

  &__form-group,
  &__tag-container {
    display: flex;
    flex-direction: column;
    background-color: $columbia-blue;
    opacity: 60%;
    margin: 1.5rem 1.5rem 0rem 0rem;
    border-radius: 1rem;
    padding: 1rem;
  }

  &__form-group {
    @include desktop {
      width: 70%;
      margin: 0 auto;
      margin-top: 1.5rem;
    }
  }

  &__form {
    background-color: $primary-white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 0.2rem 0rem 0rem 1.5rem;
    // height: 40rem;
    height: 100vh;
    position: relative;
    z-index: 2;
    margin-top: -1.5rem;

    @include tablet {
      height: 90vh;
    }
  }

  &__header-container {
    padding: 1rem 2rem 2rem 2rem;
    background-color: $columbia-blue;
    position: relative;
    z-index: 1;
  }

  &__header-content-container {
    @include flexCenter(column);
    margin-top: 0.9375rem;
  }

  &__note {
    color: $black;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.7rem;
    font-weight: 500;

    @include tablet {
      line-height: 2.15rem;
    }

    @include desktop {
      margin-top: -1.5rem;
      line-height: 2.4rem;
    }
  }

  &__mood-explanation,
  &__note {
    color: $dark-blue;
    font-size: 1.1rem;

    @include tablet {
      max-width: 25rem;
      font-size: 1.65rem;
    }

    @include desktop {
      max-width: 55rem;
    }
  }

  &__mood-explanation {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  &__emoji {
    width: 3.5rem;

    @include tablet {
      width: 3.75rem;
    }

    @include desktop {
      width: 4rem;
    }
  }

  &__emoji-container {
    text-align: center;
  }

  &__mood-tell {
    font-size: 1.4rem;
  }

  &__mood-span {
    font-weight: 700;
    color: $medium-blue;
    text-transform: uppercase;
  }

  &__form-content {
    margin-top: 2rem;
    // height: 47vh;
    height: 55vh;

    @include tablet {
      height: 52vh;
    }
  }

  &__form-label {
    font-size: 1rem;
    margin-left: 0.4rem;

    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__thought-bubble {
    width: 1.2rem;

    @include tablet {
      width: 2.2rem;
    }

    @include desktop {
      width: 2.25rem;
    }
  }

  &__input {
    width: 100%;
    font-family: "Quicksand";
    font-size: 1rem;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
    background-color: $columbia-blue;
    border: none;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    @include tablet {
      font-size: 1.1rem;
    }

    @include desktop {
      font-size: 1.2rem;
    }

    &--content {
      @include tablet {
        height: 29.5rem;
      }
    }
  }

  &__button-container {
    @include flexCenter(row);
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 0.8rem;

    @include desktop {
      margin-top: 3rem;
      margin-right: 4rem;
    }
  }

  &__button {
    background-color: $air-blue;
    color: $primary-white;
    border: none;
    @include buttonFont;
    padding: 0.6rem 2.5rem;
    box-shadow: 0rem 0.15rem 0rem 0rem $box-shadow;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.03rem;

    @include tablet {
      padding: 0.7rem 2.5rem;
      font-size: 1.1rem;
    }

    @include desktop {
      padding: 0.8rem 2.6rem;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $medium-blue;
    }

    &:active {
      box-shadow: none;
      transform: translateY(0.375rem);
      background-color: $medium-blue;
    }
  }

  &__form-error,
  &__fail {
    color: $red;
  }

  &__form-error,
  &__fail,
  &__redirect-message {
    font-size: 0.9rem;

    @include tablet {
      font-size: 1.15rem;
    }
  }

  &__fail,
  &__redirect-message {
    font-weight: 500;
    text-align: center;
    margin-top: 0.35rem;
  }

  &__redirect-message {
    color: $green;
    margin-bottom: 0rem;
  }

  &__form-error {
    margin-top: 1rem;

    &--content {
      margin-top: 10rem;
    }
  }
}
