@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mobile-nav {
  background-color: $primary-white;
  width: 100%;

  position: sticky;
  border-radius: 0.6rem;
  overflow: hidden;
  z-index: 1;

  @include tablet {
    display: none;
  }

  &__link {
    &--active {
      background-color: $columbia-blue;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  &__icon {
    width: 1.4rem;
  }

  &__list {
    display: flex;
    gap: 4rem;
    opacity: 70%;
    border-radius: 0.2rem;
    align-items: center;
    padding-left: 2rem;
  }
}
