@use "./variables" as *;

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin chip {
  border: none;
  background-color: $air-blue;
  border-radius: 0.5rem;
  padding: 0.45rem 1.75rem;
  cursor: pointer;
  color: $primary-white;

  @include tablet {
    padding: 1rem 6rem;
    font-size: 1.4rem;
  }
}
