$primary-white: #ffffff;
// $hello: #f7f7f7;

$secondary-black: #000000;

$lavender: #d8d4f2;
$columbia-blue: #c4deed;
$air-blue: #5fa5ce;
$black: #262626;
$night: #0f0e0e;
$light-grey: #e5e8eb;
$bg-color: #fefefe;
$olive: #bcbc82;

$wrapper-max-width: 1140px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
