$primary-white: #ffffff;

$secondary-black: #000000;

$light-yellow: #f6e5a2;
$dark-yellow: #eac21f;
$lavender: #d8d4f2;
$columbia-blue: #c4deed;
$air-blue: #5fa5ce;
$black: #262626;
$box-shadow: #242526;
$light-grey: #e5e8eb;
$dark-grey: #94a1ad;
$bg-color: #fefefe;
$indigo-dye: #2c5c90;
$dark-blue: #30749c;

$wrapper-max-width: 1140px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
