@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mood {
  padding-top: 0.3rem;

  &__wrapper {
    @include flexCenter(column);
  }

  &__journal-subheading {
    color: $black;
    margin-top: 1rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__heading-container {
    @include tablet {
      margin-top: -0.5rem;
    }
  }

  &__heading {
    font-weight: 500;
    padding-left: 0.5rem;
    color: $black;

    @include tablet {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 2.8rem;
    }
  }

  &__subheading {
    font-size: 0.8rem;
    // color: $dark-grey;
    color: $black;
    font-weight: 500;
    margin: 0.4rem 0rem 0.5rem 0.5rem;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    // padding: 0.5rem;
    margin: 0.4rem -0.5rem 0rem -1rem;
    justify-content: center;
    padding: 1rem 0rem;
    max-width: 25rem;

    @include tablet {
      max-width: 40rem;
      gap: 5rem;
    }
    @include desktop {
      gap: 5.5rem;
    }
  }

  &__navigation-cards-container {
    display: flex;
  }
}
