@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mood {
  padding-top: 0.3rem;

  &__wrapper {
    // max-width: $wrapper-max-width;
    @include flexCenter(column);
  }

  &__journal-subheading {
    color: $black;
    margin-top: 1rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__heading-container {
    padding-left: 1rem;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0.65rem;
    color: $black;

    @include tablet {
      font-size: 2.2rem;
    }

    @include desktop {
      font-size: 2.8rem;
    }
  }

  &__subheading {
    font-size: 0.8rem;
    color: $dark-grey;
    margin: 0.4rem 0rem 0.5rem 0.5rem;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    padding: 0.5rem;
    margin-left: -1rem;
    justify-content: center;
    margin-top: 0.4rem;
    max-width: 25rem;

    @include tablet {
      max-width: 34rem;
      gap: 4rem;
    }
    @include desktop {
      gap: 5.5rem;
    }
  }

  &__journal-card {
    background-color: $light-yellow;
    margin-top: 1rem;
    opacity: 70%;
    width: 100%;
    padding-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    @include tablet {
      width: 100%;
      padding: 0rem;
      padding-left: 2.5rem;
      padding-top: 1.3rem;
      margin-top: 1rem;
    }
  }

  &__journal-image {
    width: 1.5rem;
    margin-top: -0.5rem;
  }

  &__journal-details {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      margin: 0 auto;
    }
  }

  &__journal-button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    @include tablet {
      width: 60%;
      margin-bottom: 1rem;
    }
  }

  &__journal-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: $black;

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__journal-button-link {
    text-decoration: none;
  }

  &__journal-button {
    cursor: pointer;
    background-color: $dark-yellow;
    padding: 1rem;
    font-size: 0.95rem;
    font-weight: 00;
    width: 100%;
    border-radius: 0.65rem;
    border: 1px solid $dark-yellow;
    box-shadow: 0rem 0.2rem 0rem 0rem $box-shadow;

    &:active {
      box-shadow: none;
      transform: translateY(0.375rem);
    }
  }

  &__thoughts-icon {
    width: 1.2rem;
  }

  &__mood-indicator {
    display: flex;
  }
}
