@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &__wrapper {
    margin: 0rem 1rem 0rem 1rem;
    max-width: $wrapper-max-width;

    @include tablet {
      margin: 0rem 3rem 0rem 3rem;
    }
  }
  &__container {
    gap: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__greeting {
    font-weight: 400;
    color: $grey;
    // color: $black;
    margin-bottom: 0;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__image {
    width: 2rem;
  }

  &__title-quotes {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0rem 0rem 1rem 1rem;
  }

  &__info-cards {
    padding-top: 1rem;
  }

  &__initial {
    border-radius: 50%;
    background-color: #d7dbe0;
    width: 1.5rem;
    height: 1.5rem;
    @include flexCenter(row);
    font-size: 0.7rem;
    font-weight: 700;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
