@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &__wrapper {
    padding: 0rem 1rem 0rem 1rem;
  }
  &__container {
    gap: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: $black;
  }

  &__image {
    width: 2rem;
  }

  &__title-quotes {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0rem 0rem 1rem 1rem;
  }

  &__mood-tracker-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__info-cards {
    padding-top: 1rem;
  }
  &__mood-tracker-card {
    background-color: $columbia-blue;
    background-color: $light-yellow;
    margin-top: 1rem;
    opacity: 70%;
    width: 100%;
    padding-top: 1rem;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 auto;
    margin-left: 0.0625rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
