@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  &__wrapper {
    margin: 0rem 1rem 0rem 1rem;
    max-width: $wrapper-max-width;

    @include tablet {
      margin: 0rem 3rem 0rem 3rem;
    }
  }
  &__header {
    gap: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__greeting {
    font-weight: 400;
    color: $grey;
    // color: $black;
    margin-bottom: 0;

    @include tablet {
      font-size: 1.4rem;
    }
    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__image {
    width: 2rem;
  }

  &__title-quotes {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0rem 0rem 1rem 1rem;
  }

  &__info-cards {
    padding-top: 1rem;
  }

  &__initial {
    border-radius: 50%;
    background-color: #d7dbe0;
    width: 1.9rem;
    height: 1.9rem;
    @include flexCenter(row);
    font-size: 0.7rem;
    font-weight: 700;
    box-shadow: rgba(43, 34, 77, 0.2) 0px 30px 80px -10px,
      rgba(0, 0, 0, 0.8) 0px 28px 50px -28px,
      rgba(7, 27, 47, 0.35) 0px -2px 6px inset;

    @include tablet {
      width: 2.8rem;
      height: 2.8rem;
      font-size: 1.15rem;
    }

    @include desktop {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  // .container {
  //   @include flexCenter(column);
  // }
}
