@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.modal {
  &__confirm {
    color: $dark-grey;
    font-size: 0.95rem;
  }

  &__confirm {
    color: $red;
  }

  &__button {
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &__cancel {
    border: 0.0625rem solid $black;
    background-color: $primary-white;
    color: $dark-grey;

    &:hover {
      background-color: $dark-grey;
      color: $primary-white;
      border: 0.0625rem solid $primary-white;
    }
  }

  &__delete {
    border: 0.0625rem solid $black;
    background-color: $red;
    color: $primary-white;

    &:hover {
      background-color: $red;
      color: $black;
    }
  }
}
