@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid $dark-purple !important;

  @include tablet {
    font-size: 1.25rem !important;
  }
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected),
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover,
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  @include tablet {
    padding: 1.21rem !important;
  }
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover,
.css-innj4t-MuiPickersYear-yearButton.Mui-selected,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $medium-purple !important;
}

.css-dplwbx-MuiPickersCalendarHeader-label,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  @include tablet {
    font-size: 1.21rem !important;
  }
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  @include tablet {
    font-size: 1.5rem !important;
  }
}

.css-flbe84-MuiDayCalendar-weekContainer {
  @include tablet {
    padding: 0.7rem;
  }
}

.tracker {
  &__calender {
    background-color: $lavender;
    border-radius: 0.5rem;

    @include tablet {
      width: 37.5rem !important;
      min-height: 25rem !important;
    }
    @include desktop {
      min-height: 32.5rem !important;
    }
  }

  &__mood-wrapper {
    margin: 0rem 1rem;
  }

  &__different-moods,
  &__no-mood,
  &__text {
    font-weight: 500;
  }

  &__mood-container {
    @include flexCenter(row);
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.65rem;

    @include tablet {
      gap: 2rem;
      margin-left: 1rem;
    }

    @include desktop {
      margin-left: -1rem;
    }
  }

  &__card {
    background-color: rgba(216, 212, 242, 0.4);
    color: $secondary-black;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    border-radius: 0.65rem;
    border: 1.5px solid $medium-purple;
    width: 30%;

    @include tablet {
      width: 18%;
      padding: 1.5rem;
    }
  }

  &__title-container {
    @include flexCenter(row);
    gap: 1rem;
  }

  &__mood {
    color: #000038;
    font-weight: 600;
    font-size: 1.05rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__mood-time {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  &__no-mood {
    margin-left: 1.5rem;
  }

  &__text {
    margin: 1.5rem 1.5rem 1rem 1.5rem;

    @include tablet {
      font-size: 1.3rem;
      margin: 3.5rem 0rem 0rem 2.5rem;
    }

    @include desktop {
      margin: 0rem;
    }
  }

  &__mood-details-wrapper {
    @include desktop {
      margin-top: 0.5rem;
    }
  }

  &__mood-calender-wrapper {
    @include desktop {
      display: flex;
      gap: 4rem;
      margin-top: 3.5rem;
    }
  }

  &__mood-formatted-date {
    font-weight: 600;
    padding-left: 0.2rem;
  }

  &__different-moods {
    margin-left: 0.5rem;

    @include tablet {
      font-size: 1.3rem;
    }

    @include desktop {
      margin-left: -0.9375rem;
    }
  }

  &__different-moods,
  &__no-mood-wrapper {
    @include tablet {
      margin: 2rem 0rem 1.6rem 1.2rem;
    }
    @include desktop {
      margin: 1rem 0rem 1rem -1rem;
    }
  }

  &__no-mood {
    font-size: 0.93rem;

    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__no-animation {
    width: 4rem;
  }

  &__no-mood-wrapper {
    @include flexCenter(row);
    justify-content: flex-start;

    @include desktop {
      margin-left: -1.6rem;
    }
  }

  &__mood-emoji {
    width: 1.8rem;
    opacity: 1;
    margin-top: 0.6rem;

    @include tablet {
      width: 2.9rem;
    }
  }

  &__mood-display-wrapper {
    @include flexCenter(column);
  }
}
