@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
    background-color: $primary-white;
  }

  &__wrapper {
    max-width: $wrapper-max-width;
    padding: 0.8rem;
    display: flex;
  }
}

.header-nav {
  &__list {
    display: flex;
    gap: 10rem;
    padding-left: 4rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
  &__link {
    text-decoration: none;
    color: $black;

    &--active {
      color: #94a1ad;
    }
  }
}
