@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
    background-color: $primary-white;
  }

  &__wrapper {
    max-width: $wrapper-max-width;
    padding: 1.2rem;
    display: flex;
  }
}

.header-nav {
  &__list {
    display: flex;
    gap: 5rem;
    padding-left: 4rem;
    font-weight: 600;

    @include tablet {
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1.5rem;
      gap: 12rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $black;

    &--active {
      color: $dark-blue;
    }
  }
}
