@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.breathe {
  background-image: linear-gradient(
    to right top,
    #c4deed,
    #a1cfec,
    #7dbfeb,
    #54aeeb,
    #129deb
  );
  margin-top: -1rem;
  height: 100vh;

  &__title-wrapper {
    padding-top: 1rem;
  }

  &__wrapper {
    min-height: calc(100vh - 74.3984px);
  }

  &__heading {
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
    color: #215573;

    @include tablet {
      font-size: 2.2rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 2.1rem;
  }

  // &__meditation-icon {
  //   width: 3.5rem;
  // }

  &__meditation-animation {
    width: 8rem;
    margin-top: -1rem;
  }

  &__wrapper-description {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }

  &__mindfulness {
    color: #215573;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.1rem;
    margin-bottom: 0;
    margin: 1.1rem 0rem 0rem 0.5rem;

    @include tablet {
      font-size: 2.4rem;
    }
  }

  &__button-container {
    width: 100%;
    @include flexCenter(row);
    margin-top: 4rem;
  }

  &__button {
    width: 70%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      padding: 2rem;
    }
  }

  &__lessen {
    color: #215573;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__lessen-container {
    margin-top: 2rem;
  }

  &__mindfulness-container {
    display: flex;
    justify-content: space-between;
  }
  &__circle-wrapper {
    background-color: $columbia-blue;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    color: #215573;
    line-height: 1.6rem;
    font-weight: 500;
    margin-left: 0.5rem;
    background-color: $columbia-blue;
    opacity: 70%;
    border-radius: 0.5rem;
    padding: 0.5rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__in {
    animation: breatheIn 2.5s;
  }

  &__out {
    animation: breatheOut 2.4s;
  }

  &__text {
    font-size: 1.15rem;
    text-align: center;
    font-weight: 400;
    color: $air-blue;
  }
}

@keyframes breatheIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes breatheOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
