@use "../../styles/partials/variables" as *;

.carousel {
  width: 88%;
  // width: 100%;
  opacity: 80%;
  // background-color: #fbcbdd;
  // // background-color: #ffffff;
  // background-color: #f4df8b;
  // background-color: #f6e5a2;
  // height: 9.5rem;
  background-color: $columbia-blue;
  padding: 1rem !important;
  border-radius: 0.5rem;
  // text-align: center;

  &__text,
  &__quote-title,
  &__author {
    color: $black;
  }

  &__text {
    font-size: 1.1rem;
    font-weight: 500;
  }

  &__quote-title {
    margin: 0rem 0rem 0.5rem 0.5rem;
    padding: 0.5rem;
    font-size: 1.15rem;
    font-weight: 500;
  }

  &__author {
    margin-top: 0.7rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
}
