@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bottom-nav {
  background-color: $primary-white;
  width: 100%;
  position: sticky;
  overflow: hidden;
  z-index: 1;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  @include desktop {
    display: none;
  }

  &__link {
    font-size: 1rem;
  }

  // &__link {
  //   &--active {
  //     background-color: $columbia-blue;
  //     border-radius: 50%;
  //     padding: 0.55rem;
  //   }
  // }

  // &__home,
  // &__journal-entries,
  // &__tracker,
  // &__meditation {
  //   width: 30px;
  // }

  &__icon {
    // font-size: 1.2rem;
    width: 2rem;
    &--active {
      // font-size: 1.2rem;
      background-color: $columbia-blue;
      border-radius: 50%;
      padding: 0.55rem;
    }
  }

  &__list {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0rem 1rem 0rem 2rem;
    opacity: 70%;
    border-radius: 0.2rem;
    padding-left: 2rem;

    @include tablet {
      // justify-content: space-between;
      padding: 0rem 6rem;
    }
  }
}
