@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.ReactModal__Body--open {
  background: rgba(0, 0, 0, 0.15);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3.5px;
  width: 19rem;
  height: 20.625rem;

  @include tablet {
    // width: 75%;
    // height: 34%;
    width: 40rem;
    height: 23rem;
  }

  @include desktop {
    width: 50rem;
    height: 26rem;
  }

  &__exit {
    color: $dark-grey;
    font-weight: 700;
    @include buttonFont;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.8rem;
    }
  }

  &__exit,
  &__cancel-button,
  &__delete-button {
    cursor: pointer;
  }

  &__exit,
  &__cancel-button {
    border: none;
    background: none;
  }

  &__content-container {
    @include flexCenter(column);
    align-items: stretch;
    padding-top: 1rem;
    gap: 1.5rem;
    margin-left: 0.75rem;

    @include tablet {
      align-items: center;
    }
  }

  &__confirmation-heading {
    font-weight: 600;
    color: $black;
    font-size: 1.45rem;

    @include tablet {
      font-size: 1.85rem;
    }

    @include desktop {
      font-size: 2.1rem;
    }
  }
  &__journal-title {
    font-weight: 500;
    color: $light-grey;
  }

  &__journal-title,
  &__confirmation-subheading {
    color: $dark-grey;
    font-size: 0.9rem;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    @include desktop {
      font-size: 1.6rem;
    }
  }

  &__confirmation-subheading {
    margin-top: -0.5rem;
    font-weight: 600;
  }
  &__delete-button,
  &__cancel-button {
    @include buttonFont;
    font-size: 0.92rem;
  }

  &__delete-button {
    color: $red;
    font-weight: 600;
    letter-spacing: 0.021875rem;
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
    border-radius: 1.2rem;
    padding: 0.67rem 1.5rem;

    @include tablet {
      width: 60%;
      font-size: 1.2rem;
      border-radius: 1.4rem;
    }

    @include desktop {
      font-size: 1.55rem;
    }
  }

  &__cancel-button {
    color: $medium-blue;
    font-weight: 700;

    @include tablet {
      font-size: 1.2rem;
    }

    @include desktop {
      font-size: 1.55rem;
      margin-top: 0.7rem;
    }
  }
}
