@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tracker {
  &__container {
    min-height: calc(100vh - 74.3984px);
  }
  &__title {
    font-weight: 500;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  &__subheading {
    margin: 1.5rem 0rem 1.5rem 0rem;
    color: $dark-grey;
  }

  &__wrapper {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }
}
